# .github/workflows/deploy-staging.yml
name: Deploy Staging Environment

# Staging and Hotfix branch only allow merge
on:
  push:
    branches:
      - 'release/**'
      - 'hotfix/**'
jobs:
  terraform_deploy_staging:
    runs-on: ubuntu-latest
    environment: staging
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    # in progress
    - name: Configure AWS Credentials 
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
    - name: Docker build
    - name: Docker push
    - name: Deploy to dev environment
