# .github/workflows/deploy-autoenv.yml
name: Deploy Auto Environment

on:
  push:
    branches:
      - develop
      - 'release/**'
      - main
  workflow_dispatch:
    inputs:
      env_name:
        description: 'Override target environment (dev|staging|prod)'
        required: false
      apply:
        description: 'Apply changes?'
        required: false
        default: 'true'

permissions:
  id-token: write
  contents: read
  issues: write
  pull-requests: write

jobs:
  decide:
    runs-on: ubuntu-22.04
    outputs:
      ENV: ${{ steps.pick.outputs.ENV }}
      APPLY: ${{ steps.pick.outputs.APPLY }}
      DESTROY: ${{ steps.pick.outputs.DESTROY }}
    steps:
      - name: Decide env by branch or input
        id: pick
        run: |
          BRANCH="${{ github.ref_name }}"
          INPUT_ENV="${{ github.event.inputs.env_name }}"
          APPLY="${{ github.event.inputs.apply }}"
          DESTROY="${{ github.event.inputs.destroy }}"

          if [ -n "$INPUT_ENV" ]; then
            ENV="$INPUT_ENV"
          elif [ "$BRANCH" = "develop" ]; then
            ENV="dev"
          elif [[ "$BRANCH" == release/* ]]; then
            ENV="staging"
          elif [ "$BRANCH" = "main" ]; then
            ENV="prod"
          else
            echo "Unsupported branch: $BRANCH"; exit 1
          fi

          [ -z "$APPLY" ] && APPLY=true
          [ -z "$DESTROY" ] && DESTROY=false

          echo "ENV=$ENV" >> $GITHUB_OUTPUT
          echo "APPLY=$APPLY" >> $GITHUB_OUTPUT
          echo "DESTROY=$DESTROY" >> $GITHUB_OUTPUT

  call-dev:
    needs: decide
    if: ${{ needs.decide.outputs.ENV == 'dev' }}
    uses: ./.github/workflows/deploy-autoenv-dev.yml
    with:
      apply: ${{ needs.decide.outputs.APPLY == 'true' }}
    secrets: inherit

# Remove comments when workflows below are finished
#   call-staging:
#     needs: decide
#     if: ${{ needs.decide.outputs.ENV == 'staging' }}
#     uses: ./.github/workflows/deploy-autoenv-staging.yml
#     with:
#       apply: ${{ needs.decide.outputs.APPLY == 'true' }}
#     secrets: inherit

#   call-prod:
#     needs: decide
#     if: ${{ needs.decide.outputs.ENV == 'prod' }}
#     uses: ./.github/workflows/deploy-autoenv-prod.yml
#     with:
#       apply: ${{ needs.decide.outputs.APPLY == 'true' }}
#     secrets: inherit
